*{
  text-align: center;
  font-family: "din-2014", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.wrapper{
  width: 10%;
  display: flex;
  flex-wrap: wrap;
}

a{
  text-align: left;
  padding: 4%;
  margin: 4%;
  font-size: 140%;
}

nav{
  text-align: left;
  display: flex;
  width: 30px;
}
