*{
  text-align: center;
  font-family: "din-2014", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

.wrapper{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0% 0% 0% 10rem;
}

a{
  text-align: center;
  padding: 4%;
  font-size: 140%;
}

nav{
  text-align: left;
  display: flex;
  width: 30px;
}
