*{
  text-align: center;
  font-family: "din-2014", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

::-webkit-scrollbar{
  scrollbar-color: pink;
  scrollbar-width: thin;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* 
  position: fixed;
  width: 100%;
  background-color: white; */
}

a{
  text-align: center;
  padding: 1%;
  font-size: 140%;
}

nav{
  text-align: left;
  display: flex;
  width: 30px;
}
